<tr>
  <td>
    <a href="javascript:$('#app_tree').jstree('deselect_all');$('#app_tree').jstree('select_node', '#$sqlid').trigger('select_node.jstree');">$sqlname_with_type</a>
    <br><small class="text-muted text-break">$sqlpath</small>
  </td>
  <td><span class="fw-semibold text-danger">$sqlcomponent_name</span></td>
</tr>
