<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Tholos Application Builder</title>
  <link rel="shortcut icon" href="$TholosBuilderAssetsDir/images/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="$TholosBuilderVendorDir/bower-asset/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="$TholosBuilderVendorDir/bower-asset/jquery-ui/themes/base/jquery-ui.min.css"/>
  <link rel="stylesheet" href="$TholosBuilderVendorDir/bower-asset/jstree/dist/themes/default/style.min.css"/>
  <link rel="stylesheet" href="$TholosBuilderVendorDir/bower-asset/toastr/toastr.min.css"/>
  <link rel="stylesheet" href="$TholosBuilderAssetsDir/css/textareafullscreen.css"/>
  <link rel="stylesheet" href="$TholosBuilderAssetsDir/css/TholosBuilder.css"/>
</head>
<body>
<div id="wrapper" class="container-fluid">
  <div id="container">
    <div id="task_frame"></div>
    <div id="nav_frame" class="resizable">
      <div class="content"></div>
    </div>
    <div id="prop_frame" class="resizable">
      <div class="content"></div>
    </div>
    <div id="edit_frame" class="resizable">
      <div class="content"></div>
    </div>
  </div>
</div>

<script type="text/javascript">var __TholosBuilderAppUrl = '$TholosBuilderAppURL';</script>

<script src="$TholosBuilderVendorDir/bower-asset/jquery/dist/jquery.min.js"></script>
<script src="$TholosBuilderVendorDir/bower-asset/jquery-ui/jquery-ui.min.js"></script>
<script src="$TholosBuilderVendorDir/bower-asset/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script defer src="$TholosBuilderAssetsDir/js/fontawesome/fontawesome.min.js"></script>
<script defer src="$TholosBuilderAssetsDir/js/fontawesome/regular.min.js"></script>
<script defer src="$TholosBuilderAssetsDir/js/fontawesome/brands.min.js"></script>
<script src="$TholosBuilderVendorDir/bower-asset/jstree/dist/jstree.min.js"></script>
<script src="$TholosBuilderVendorDir/bower-asset/bootbox/dist/bootbox.min.js"></script>
<script src="$TholosBuilderVendorDir/bower-asset/toastr/toastr.min.js"></script>
<script src="$TholosBuilderAssetsDir/js/jquery.textareafullscreen.js"></script>

<script type="text/javascript">const skipframeloading = false;</script>
<script src="$TholosBuilderAssetsDir/js/TholosBuilder.js"></script>

</body>
</html>