<div id="app_tree_container" class="well well-sm">
  <div id="apps" class="col-sm-12">

    <div class="tab-content">
      <div id="tab_app_tree" class="tab-pane active">
         <div id="app_tree" class="col-sm-12">
         </div>
      </div>
    </div>
  </div>
</div>