<div class="col-sm-12" style="border-top: 1px solid #eee; margin-top: 3px; padding-top: 3px;"><a href="javascript:$('#app_tree').jstree('deselect_all');$('#app_tree').jstree('select_node','#$sqlreferer_id');">$sqlreferer_component.<b>$sqlevent_name</b></a></div>