<div class="pf-list-row pf-ref-row">
  <div class="pf-ref-head"><span class="ref-kind">$sqlname</span>:$sqltype_desc</div>
  <div class="pf-ref-link"><a href="javascript:$('#app_tree').jstree('deselect_all');$('#app_tree').jstree('select_node','#$sqlcomponent_id');">$sqlshort_path</a>:$sqlclass_name</div>
</div>
