<div class="row" style="padding-top: 5px; padding-bottom: 5px; border-bottom: 1px solid #ddd; background-color: #f7f7f7;"><div class="col-sm-12"><b>$sqlname</b>:$sqltype_desc<br/><a href="javascript:$('#app_tree').jstree('deselect_all');$('#app_tree').jstree('select_node','#$sqlcomponent_id');">$sqlshort_path</a>:$sqlclass_name</div></div>