<tr style="border-top: 1px solid #ccc;">
  <td style="padding: 2px;"><a href="javascript:$('#app_tree').jstree('deselect_all');$('#app_tree').jstree('select_node', '#$sqlid').trigger('select_node.jstree');">$sqlname_with_type</a></td>
  <td style="padding: 2px;"><small><a href="javascript:addRoute('$sqlroute_id');"><i class="fa fa-plus"></i> $sqlroute</a></small></td>
  <td style="padding: 2px;"><small>$sqlpath</small></td>
</tr>