[%_function_name=TholosBuilder\TholosBuilderCallback::_eqs;param=task_number;value=;true=<a href="javascript:chooseTask()" class="task-link task-action" title="Choose issue"><i class="fa-regular fa-pen-to-square me-1"></i>Choose issue</a>;false=<a href="$RedmineURL/issues/$task_number" target="_blank" class="task-link" title="#$task_number :: $task_subject">#$task_number :: $task_subject</a>%]
<a href="javascript:showOpenedTasks();" class="task-action" title="Status"><i class="fa-regular fa-circle-info"></i></a>
[%_function_name=TholosBuilder\TholosBuilderCallback::_eqs;param=task_number;value=;true=;false=<a href="javascript:closeTask()" class="task-action" title="Close unchanged issue"><i class="fa-regular fa-circle-xmark"></i></a>%]
<a href="javascript:reloadTaskFrame();" class="task-action" title="Refresh"><i class="fa-regular fa-arrows-rotate"></i></a>
