<tr>
  <td><b>$sqlname</b></td>
  <td class="text-center"><input class="form-check-input" type="radio" name="option$sqlid" value="2" checked></td>
  <td class="text-center"><input class="form-check-input" type="radio" name="option$sqlid" value="1"></td>
  <td class="text-center"><input class="form-check-input" type="radio" name="option$sqlid" value="3"></td>
  <td class="text-center"><input class="form-check-input" type="radio" name="option$sqlid" value="0"></td>
</tr>
