<tr>
  <td nowrap>$sqlcommitted</td>
  <td align="center"><a href="$RedmineURL/issues/$sqltask_number" target="_blank">$sqltask_number</a></td>
  <td><a href="$RedmineURL/issues/$sqltask_number" target="_blank">$sqlsubject</a></td>
  <td>$sqlroute</td>
  <td>$sqlcode</td>
</tr>